.galerie-animata-container {
  width: 450px;
  height: 320px;
  margin: 40px auto;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  
  border: 12px solid transparent;
  border-image: repeating-linear-gradient(45deg, #2b7a78, #2b7a78 15px, #3aafa9 15px, #3aafa9 30px) 15 round;
  &:hover .galerie-animata-grid {
    animation-play-state: paused;
  }
  @media (max-width: 1023px) {
    display: none;
  }
}

.galerie-animata-grid {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  grid-template-rows: repeat(calc(#{$nr-imagini} / 3), 100%);
  width: 100%;
  height: 100%;
  animation: plimbare-rotatie-galerie calc(#{$nr-imagini} * 3s) alternate infinite ease-in-out;
}

.galerie-animata-grid figure {
  margin: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes plimbare-rotatie-galerie {
  @for $i from 0 to $nr-imagini {
    $linie: floor(calc($i / 3));
    $coloana: $i % 3;
    
    
    @if $linie % 2 != 0 {
      $coloana: 2 - $coloana;
    }
    
    $start-procent: calc($i * 100 / $nr-imagini);
    $pauza-procent: calc(($i + 0.75) * 100 / $nr-imagini);
    
    #{$start-procent}%, #{$pauza-procent}% {
      transform: translate(calc(-100% * #{$coloana}), calc(-100% * #{$linie})) rotate(0deg);
    }
    
  
    @if $i < $nr-imagini - 1 {
      $tranzitie-procent: calc(($i + 0.92) * 100 / $nr-imagini);
      #{$tranzitie-procent}% {
        transform: translate(calc(-100% * #{$coloana}), calc(-100% * #{$linie})) rotate(180deg);
      }
    }
  }
}
