.galerie-animata-container {
  width: 450px;
  height: 320px;
  margin: 40px auto;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  border: 12px solid transparent;
  border-image: repeating-linear-gradient(45deg, #2b7a78, #2b7a78 15px, #3aafa9 15px, #3aafa9 30px) 15 round;
}
.galerie-animata-container:hover .galerie-animata-grid {
  animation-play-state: paused;
}
@media (max-width: 1023px) {
  .galerie-animata-container {
    display: none;
  }
}

.galerie-animata-grid {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  grid-template-rows: repeat(calc(9 / 3), 100%);
  width: 100%;
  height: 100%;
  animation: plimbare-rotatie-galerie calc(9 * 3s) alternate infinite ease-in-out;
}

.galerie-animata-grid figure {
  margin: 0;
  width: 100%;
  height: 100%;
}
.galerie-animata-grid figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes plimbare-rotatie-galerie {
  0%, 8.3333333333% {
    transform: translate(calc(-100% * 0), calc(-100% * 0)) rotate(0deg);
  }
  10.2222222222% {
    transform: translate(calc(-100% * 0), calc(-100% * 0)) rotate(180deg);
  }
  11.1111111111%, 19.4444444444% {
    transform: translate(calc(-100% * 1), calc(-100% * 0)) rotate(0deg);
  }
  21.3333333333% {
    transform: translate(calc(-100% * 1), calc(-100% * 0)) rotate(180deg);
  }
  22.2222222222%, 30.5555555556% {
    transform: translate(calc(-100% * 2), calc(-100% * 0)) rotate(0deg);
  }
  32.4444444444% {
    transform: translate(calc(-100% * 2), calc(-100% * 0)) rotate(180deg);
  }
  33.3333333333%, 41.6666666667% {
    transform: translate(calc(-100% * 2), calc(-100% * 1)) rotate(0deg);
  }
  43.5555555556% {
    transform: translate(calc(-100% * 2), calc(-100% * 1)) rotate(180deg);
  }
  44.4444444444%, 52.7777777778% {
    transform: translate(calc(-100% * 1), calc(-100% * 1)) rotate(0deg);
  }
  54.6666666667% {
    transform: translate(calc(-100% * 1), calc(-100% * 1)) rotate(180deg);
  }
  55.5555555556%, 63.8888888889% {
    transform: translate(calc(-100% * 0), calc(-100% * 1)) rotate(0deg);
  }
  65.7777777778% {
    transform: translate(calc(-100% * 0), calc(-100% * 1)) rotate(180deg);
  }
  66.6666666667%, 75% {
    transform: translate(calc(-100% * 0), calc(-100% * 2)) rotate(0deg);
  }
  76.8888888889% {
    transform: translate(calc(-100% * 0), calc(-100% * 2)) rotate(180deg);
  }
  77.7777777778%, 86.1111111111% {
    transform: translate(calc(-100% * 1), calc(-100% * 2)) rotate(0deg);
  }
  88% {
    transform: translate(calc(-100% * 1), calc(-100% * 2)) rotate(180deg);
  }
  88.8888888889%, 97.2222222222% {
    transform: translate(calc(-100% * 2), calc(-100% * 2)) rotate(0deg);
  }
}